@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,600&family=Montserrat:wght@400;500&display=swap');

:root {
    --color-purple: #8E5572;
    --color-pink: #F6E8EA;
    --color-strong-blue: #1B2432;
}

* {
    margin: 0;
    padding: 0;
}

/* Nav styles */
.navbar {
    background-color: var(--color-purple);
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 50px 90px;
}

.navbar h3 {
    color: #ffffff;
    font-family: 'Literata';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
}

/* Home styles */
.home {
    background-color: var(--color-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.home--star-icon {
    max-width: 130px;
}

.home h1 {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 600;
    font-size: 115px;
    line-height: 171px;
    text-align: center;
}

.home h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 118px;
    padding-top: 24px;
    text-transform: uppercase;
}

/* About styles */
.about{
    background-color: var(--color-purple);
    padding: 215px 0 0 0;
}

.about--title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 140px; 
}

.about--title h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.about--title img, .skills--title img, .work--title img {
    max-width: 30px;
}

.about--containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--description p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: var(--color-pink);
    max-width: 510px;
    padding-bottom: 30px;
}

.about--download, .contact--download {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.about--buttonCV {
    width: 320px;
    height: 50px;
    background: var(--color-pink);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.about--buttonCV p {
    color: var(--color-strong-blue);
    font-size: 22px;
}

/* Skills styles */
.skills {
    background-color: var(--color-pink);
    padding: 125px 0;
}

.skills--title, .work--title {
    display: flex;
    gap: 10px;
    padding-bottom: 110px;
    justify-content: center;
}

.skills--title h2, .work--title h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: var(--color-strong-blue);
    text-transform: uppercase;
}

.skills--content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills--column {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.skills--column-images img {
    height: 80px;
}

.skills--column h4 {
    font-weight: 600;
}

.skills--column p {
    width: 350px;
    font-weight: 400;
}

.skills--firstColumn, .skills--thirdColumn {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

/* Skills 2 */
.skillstwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 190px 0;
}

.skillstwo--content {
    max-width: 520px;
}

.skillstwo p { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 30px;
}

.skillstwo--images {
    display: flex;
    justify-content: space-between;
}

.skillstwo--images img:nth-child(even){
    padding-top: 40px;
}

.skillstwo--images img:last-child {
    height: 50px;
}

.skillstwo--images img{
    height: 70px;
}

/* Work styles */
.work {
    background-color: var(--color-pink);
    padding: 100px 0;
}

.work--content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.work--job, .work--content img {
    max-width: 480px;
}

.work--woman{
    height: 500px;
}

.work--jobTitle {
    display: flex;
    align-items: center;
}

.work--jobTitle img {
    width: 40px;
}

.work--jobTitle h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-strong-blue);
}

.work--job h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-variant: small-caps;
    padding-left: 40px;
}

.work--job p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-strong-blue);
    padding: 10px 0 50px 40px;
}



/* Contact */
.contact {
    background-color: var(--color-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 0 170px;
}

.contact a {
    text-decoration: none;
}

.contact a:visited, .contact a[href^="mailto:"] {
    color: var(--color-pink);
}



.contact--icon {
    width: 130px;
}

.contact h1 {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 111px;
    text-align: center;
    padding-bottom: 130px;
}

.contact--rs, .contact--gmail, .contact--github, .contact--linkedin {
    display: flex;
}

.contact--rs {
    gap: 70px;
    font-family: 'Literata';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: var(--color-pink);
    padding-bottom: 70px;
}

.contact--gmail img, .contact--github img, .contact--linkedin img {
    width: 35px;
    padding-right: 10px;
}